@import "tailwindcss";

/* App.css */

@font-face {
  font-family: 'Satoshi-Black';
  src: url('/public/Fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url('/public/Fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/public/Fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}  

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satoshi-Black', sans-serif;
}

button,span ,a,p {
  font-family: 'Satoshi-Regular', sans-serif;
}

 